.promo
    min-height: 100vh
    position: relative
    background: #9ACEEB
    padding-top: 205px
    &__btns
        margin-top: 25px
        display: flex
        width: 250px
        justify-content: space-between
        align-items:  center
    &__link
        font-weight: bold
        font-size: 14px
        text-decoration: none
        color: $main-color-text
    
         
        
