.title
    font-weight: bold
    font-size: 36px
    line-height: 60px
    margin-top: 6px
    z-index: 10
    position: relative
    color: #000
    text-align: center
    @include underline
    &::after
        top: calc( 100% + 4px)
    &_promo
        font-size: 36px
        margin-top: 9px
        text-align: right
        color: $main-color-text
        &::after
            display: none
    &_tal
        text-align: left
    &_und-centr
        &::after
            left: 50%
            transform: translate(-50%, 0)
.suptitle
    text-align: center
    font-weight: bold
    font-size: 16px
    line-height: 24px
    position: relative
    z-index: 10
    color: #000
    @include before-circle
    &::before
    &_promo
        padding-left: 0
        color: $main-color-text
        &::before
            left: 4px
    &_tal
        text-align: left
        padding-left: 12px
        &::before
            left: 18px
        