.title
    font-weight: bold
    font-size: 36px
    line-height: 60px
    color: $main-color-text
    margin-top: 6px
    z-index: 10
    position: relative
    &__promo
        font-size: 36px
        margin-top: 9px
        text-align: right
.suptitle
    font-weight: bold
    font-size: 16px
    line-height: 24px
    color: $main-color-text
    position: relative
    z-index: 10
    @include before-circle