@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto; }

.promo {
  min-height: 100vh;
  position: relative;
  padding-top: 205px;
  z-index: 5; }
  .promo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/Promo__BK.jpg") center center/cover no-repeat; }
  .promo__items {
    height: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .promo__btns {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10; }
  .promo__link {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    z-index: 10; }

.hamburger {
  width: 36px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
  z-index: 10; }
  .hamburger:hover .hamburger__long {
    background: #FFA501; }
    .hamburger:hover .hamburger__long::before, .hamburger:hover .hamburger__long::after {
      background: #FFA501; }
  .hamburger__long {
    width: 100%;
    height: 3px;
    background: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .hamburger__long::before, .hamburger__long::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      right: 0;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
    .hamburger__long::before {
      top: 0; }
    .hamburger__long::after {
      bottom: 0; }

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
  margin-top: 6px;
  z-index: 10;
  position: relative;
  color: #000;
  text-align: center; }
  .title::after {
    content: "";
    position: absolute;
    top: calc(100% + 25px);
    left: 0;
    background: #FFA501;
    height: 3px;
    width: 60px; }
  .title::after {
    top: calc( 100% + 4px); }
  .title_promo {
    font-size: 36px;
    margin-top: 9px;
    text-align: right;
    color: #fff; }
    .title_promo::after {
      display: none; }
  .title_tal {
    text-align: left; }
  .title_und-centr::after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.suptitle {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  z-index: 10;
  color: #000; }
  .suptitle::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 36px;
    width: 36px;
    background: #FFA501;
    border-radius: 50%;
    z-index: -1; }
  .suptitle_promo {
    padding-left: 0;
    color: #fff; }
    .suptitle_promo::before {
      left: 4px; }
  .suptitle_tal {
    text-align: left;
    padding-left: 12px; }
    .suptitle_tal::before {
      left: 18px; }

.btn {
  padding: 12px 26px;
  color: #fff;
  background: #FFA501;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #000; }

.sidepanel {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  position: fixed;
  height: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10; }
  .sidepanel__line {
    width: 2px;
    height: 70px;
    background: silver; }
  .sidepanel__text {
    height: 150px;
    width: 25px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: silver; }
    .sidepanel__text span {
      width: 150px;
      display: block;
      -webkit-transform: rotate(-90deg) translate(-40%, -265%);
              transform: rotate(-90deg) translate(-40%, -265%); }

.overlay {
  z-index: 15;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  overflow: hidden; }
  .overlay__active {
    visibility: visible;
    opacity: 1; }
  .overlay .menu {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    left: calc(-100% + 30px);
    height: 100%;
    width: 375px;
    background: #FFA501;
    z-index: 20;
    position: relative;
    padding: 140px 0 0 70px; }
    .overlay .menu__active {
      left: -30px; }
    .overlay .menu__close {
      position: absolute;
      top: 24px;
      right: 25px;
      cursor: pointer; }
    .overlay .menu__list {
      list-style-type: none;
      padding-left: 35px; }
      .overlay .menu__list li {
        margin-bottom: 15px; }
        .overlay .menu__list li:last-of-type {
          margin-bottom: 0; }
    .overlay .menu__link {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      position: relative; }
      .overlay .menu__link::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -35px;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #000000;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .overlay .menu__link::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 3px;
        background: #fff;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .overlay .menu__link:hover::after {
        width: 100%; }
      .overlay .menu__link:hover::before {
        background: #fff; }
    .overlay .menu__social {
      position: absolute;
      bottom: 50px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 90px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.about {
  width: 100%;
  padding: 120px 0; }
  .about__wrapper {
    display: grid;
    grid-template-columns: 400px 570px;
    grid-template-rows: minmax(200px, auto) minmax(317px, auto);
    grid-auto-rows: minmax(317px, auto);
    gap: 40px 70px; }
  .about__photo {
    grid-row: 1/3; }
    .about__photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .about__descr {
    padding-top: 6px; }
  .about__me {
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px; }

.skill {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-template-rows: minmax(116px, auto);
  grid-auto-rows: minmax(116px, auto);
  gap: 20px 50px; }
  .skill__item {
    display: grid;
    grid-template-columns: 40px 200px;
    gap: 20px; }
  .skill__img {
    position: relative;
    top: 15px;
    left: 15px; }
    .skill__img::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      height: 36px;
      width: 36px;
      background: #FFA501;
      border-radius: 50%;
      z-index: -1; }
    .skill__img::before {
      top: 3px;
      left: 3px; }
  .skill__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; }
  .skill__descr {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; }

.experience {
  padding-bottom: 120px; }
  .experience__wrapper {
    padding: 0 89px 0 65px; }
  .experience .title {
    text-align: center; }
    .experience .title::after {
      content: "";
      position: absolute;
      top: calc(100% + 25px);
      left: 0;
      background: #FFA501;
      height: 3px;
      width: 60px; }
    .experience .title::after {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .experience__items {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 136px;
            column-gap: 136px; }
  .experience__education {
    padding-left: 50px; }
    .experience__education h2 {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      position: relative; }
      .experience__education h2::before {
        content: "";
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #FFA501;
        left: -50px;
        top: 50%;
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%); }
  .experience__elem {
    margin-top: 45px;
    position: relative; }
    .experience__elem::before {
      content: "";
      display: block;
      width: 2px;
      height: calc(100% + 53px);
      position: absolute;
      background: black;
      top: -53px;
      left: -44px; }
  .experience__title {
    display: grid;
    grid-template-columns: 38px 1fr;
    grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 18px;
            column-gap: 18px;
    position: relative; }
    .experience__title::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      height: 36px;
      width: 36px;
      background: #FFA501;
      border-radius: 50%;
      z-index: -1; }
    .experience__title::before {
      top: 0;
      left: 0;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    .experience__title::after {
      content: "";
      position: absolute;
      display: block;
      width: 42px;
      height: 2px;
      background: #000;
      top: 17px;
      left: -42px; }
    .experience__title h3 {
      font-weight: bold;
      font-size: 14px;
      line-height: 21px; }
    .experience__title h4 {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px; }
  .experience__img {
    position: relative;
    grid-row: 1/3;
    justify-self: end;
    position: relative;
    top: 16px; }
  .experience__descr {
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; }

.skills {
  padding-bottom: 120px; }
  .skills__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: minmax(270px, auto);
    grid-auto-rows: minmax(270px, auto);
    gap: 13px;
    margin: 85px 10px 120px; }
  .skills__item {
    display: grid;
    grid-template-rows: 72px 41px minmax(18px, auto);
    border: 1px solid black;
    padding: 30px; }
  .skills__img img {
    max-width: 100%;
    max-height: 100%; }
  .skills__title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; }
  .skills__descr {
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; }

.progress__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 70px;
  gap: 30px 45px; }
  .progress__list li {
    display: grid;
    grid-template-rows: 36px 14px;
    grid-template-columns: 1fr 35px;
    grid-row-gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px; }
.progress__title {
  justify-self: start;
  font-weight: bold;
  font-size: 14px;
  line-height: 36px; }
.progress__line {
  grid-column: 1/3;
  background: #E8E4DE;
  border-radius: 5px;
  overflow: hidden; }
  .progress__line-status {
    background: #FFA501;
    height: 100%;
    border-radius: 5px; }

.portfolio {
  padding-bottom: 120px; }
  .portfolio__wrapper {
    margin-top: 85px;
    display: grid;
    list-style-type: none;
    grid-template: repeat(2, 280px)/repeat(4, 280px);
    gap: 5px; }
  .portfolio__item:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .portfolio__item img {
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.vertical {
  grid-row: 1/3;
  grid-column: 4/5; }

.horizontal {
  grid-row: 2/3;
  grid-column: 2/4; }

.contacts {
  padding-bottom: 92px; }
  .contacts__wrapper {
    margin: 0 35px 0 52px;
    display: grid;
    grid-template-columns: 400px 585px;
    gap: 68px; }
  .contacts__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .contacts__descr {
    padding-top: 6px; }
  .contacts__socials {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 135px;
    height: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%; }
    .contacts__socials img {
      max-width: 30px;
      max-height: 30px; }
  .contacts p {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; }
  .contacts__form {
    margin-top: 30px;
    display: grid;
    grid-template: 45px 127px 45px/repeat(2, 280px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 30px; }
  .contacts__input {
    position: relative; }
    .contacts__input input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      font-size: 12px;
      font-weight: 500; }
    .contacts__input label {
      position: absolute;
      height: 18px;
      padding: 0 8px;
      background: #fff;
      font-size: 12px;
      display: block;
      top: -9px;
      left: 12px; }
  .contacts__textarea {
    grid-column: 1/3;
    position: relative; }
    .contacts__textarea textarea {
      width: 100%;
      height: 100%;
      padding: 20px;
      font-size: 12px;
      resize: none; }
    .contacts__textarea label {
      position: absolute;
      height: 18px;
      padding: 0 8px;
      background: #fff;
      font-size: 12px;
      display: block;
      top: -9px;
      left: 12px; }
  .contacts__triggers {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .contacts__triggers input {
      margin-right: 10px; }
  .contacts__btn {
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px; }
  .contacts__policy {
    font-size: 12px;
    line-height: 14px; }
    .contacts__policy a {
      color: #FFA501; }

h2 + p {
  margin-top: 24px; }

/*# sourceMappingURL=style.css.map */